.hero {
    background-color: var(--discreet-background-color);
}

.hero__title {
    padding-block: var(--spacing-xxs-em);
    text-align: center;
}

.hero__text {
    max-width: 70ch;
    text-align: center;
    margin: 0 auto;
}