    :root {
        /*Colours*/
        --default-text-color: #000;
        --default-text-color-less-opacity: rgb(128 83 35 / 0.2);

        --accent-color: #FB3B49;
        --accent-color-less-opacity: rgb(251 59 73 / 0.2);

        --neutral-background-color: #fff;
        --discreet-background-color: rgba(232 217 217 / 0.3);

        --light-grey: #f2f2f2;
        --light--grey--less--opacity: rgba(140, 149, 159, 0.2);

        --yellow-highlight: rgba(255, 204, 53, .4);


        /*
        Fonts
        */
        --body-font: 'Poppins';

        --font-s: 1rem;
        /*16px*/

        --font-m: 1.125rem;
        /*18px*/

        --font-l-mobile: 1.5rem;
        /*24px*/
        --font-l-desktop: 2.25rem;
        /*36px*/

        --font-xl-mobile: 1.75rem;
        /*28px*/
        --font-xl-desktop: 5rem;
        /*80px*/

        /*
        Spacing with rems
        */
        --spacing-xxs-rem: 0.375rem;
        /*6px*/
        --spacing-xs-rem: 0.75rem;
        /*12px*/
        --spacing-s-rem: 1.125rem;
        /*18px*/
        --spacing-m-rem: 2rem;
        /*32px*/
        --spacing-l-rem: 2.5rem;
        /*40px*/
        --spacing-xl-rem: 3.25rem;
        /*52px*/

        /*
        Spacing with ems
        */
        --spacing-xxs-em: 0.375em;
        --spacing-xs-em: 0.75em;
        --spacing-s-em: 1.125em;
        --spacing-m-em: 2em;
        --spacing-l-em: 2.5em;
        --spacing-xl-em: 3.25em;

    }