    :root {
        /*Colours*/
        --default-text-color: #000;
        --accent-color: #ec3a46;
        --neutral-background-color: #fff;
        --discreet-background-color: #f9f3f3;

        /*Spacing*/
        --spacing-xxs: 0.375rem;
        --spacing-xs: 0.75rem;
        --spacing-s: 1.125rem;
        --spacing-m: 2rem;
        --spacing-l: 2.5rem;
        --spacing-xl: 3.25rem;

        /*Fonts*/
        --body-font: 'Poppins';
        --font-s: 1rem;
        /*16px*/
        --font-m: 1.125;
        /*18px*/
        --font-l: 2.25rem;
        /*36px*/
        --font-xl: 5rem;
        /*80px*/
    }